# Compilados Java
*.class
*.jar
*.war
*.ear

# Diretórios de build
/target/
/build/

# Logs
*.log
/logs/

# Configs do sistema
*.iml
.idea/
*.ipr
*.iws
*.bak

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Diretórios de IDEs
.vscode/
.project
.classpath
.settings/

# Arquivos do Maven
.mvn/
!**/src/main/**/.mvn/wrapper/maven-wrapper.jar

# Arquivos do Gradle (caso use)
.gradle/
/build/

# Arquivos de execução
*.pid
*.hprof

# Arquivos temporários
*.swp
*.tmp

# Docker
*.env
docker-compose.override.yml
**/.docker/

# Mongo dump/output temporário
dump/
*.bson
*.json

# Kafka data local (caso use volumes locais para debug)
kafka-logs/
zookeeper-logs/

# Teste
/coverage/
jacoco.exec

# IntelliJ cache
/out/

# Arquivos de teste e exportações do MongoDB Compass
*.mongodb.js
*.mongo.json
*.csv
